@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
body {
  font-family: "Noto Serif";
}
.header h1 {
  text-align: center;
}
form {
  text-align: center;
}
